@media  screen and (min-width:985px) and (max-width:1160px) {
    .container{
        width: 120vw; 
    }
    #navbar{
        /* background-color: pink;  */
        width:120vw;
        height: 90vh;
    }
    #navbar::before {
        width:120vw;
        /* background-color: red;  */
    }
    #navbar .part2{
        /* background-color: blue;  */
    }
    #part2{
        width:120vw;
        height:45vh;
    }
    #part3{
        width:120vw;
        height:52vh;
    }
    #part3:before{
        width:120vw;
    }
    #part3 .boxes .box1::before{
        left:147px;
         height:18vh;  
    }
    #part3 .boxes .box2::before{
        left:543px;
         height:18vh;  
    }
    #part3 .boxes .box3::before{
        left:936px;
        height:18vh;
    }
    #part4{
        width:120vw;
        height:78vh;
    }
    #part4 .citybox .boxt {
        height:11vh;
    }
    #final{
        width:120vw;
        height: 54vh;
    }
    footer {
        width:120vw;
    }
}
@media  screen and (min-width:807px)and (max-width:984px) {
    .container{
        width: 151vw; 
    }
    #navbar{
        /* background-color: red;  */
        width:151vw;
        height: 90vh;
    }
    #navbar::before {
        width:151vw;
        /* background-color: red;  */
    }
    #navbar .part2{
        /* background-color: blue;  */
    }
    #part2{
        width:151vw;
        height:45vh;
    }
    #part2 .boxes .box2{
        width:20vw;
    }
    #part3{
        width:151vw;
        height:52vh;
    }
    #part3:before{
        width:151vw;
    }
    #part3 .boxes .box1::before{
        left:118px;
        width:34vw;
        height:18vh;
    }
    #part3 .boxes .box2::before{
        left:505px;
        width:34vw;
        height:18vh;
    }
    #part3 .boxes .box3::before{
        left:882px;
        width:34vw;
        height:18vh;
    }
    #part4{
        width:151vw;
        height:63vh;
    }
    #part4 .citybox .boxt {
        height:11vh;
    }
    #final{
        width:151vw;
        height: 54vh;
    }
    footer {
        width:151vw;
    }
    
}
@media screen and (min-width:710px) and (max-width:806px){
    .container{
        width: 176vw; 
    }
    #navbar{
        /* background-color: blue;  */
        width:176vw;
        height: 90vh;
    }
    #navbar::before {
        width:176vw;
        /* background-color: red;  */
    }
    #navbar .part2{
        /* background-color: blue;  */
    }
    #part2{
        width:176vw;
        height:45vh;
    }
    #part2 .boxes .box2{
        width:26vw;
    }
    #part3{
        width:176vw;
        height:52vh;
    }
    #part3:before{
        width:176vw;
    }
    #part3 .boxes .box1::before{
        width:50vw;
        height:18vh;
    }
    #part3 .boxes .box2::before{
        left:511px;
        width:44vw;
        height:18vh;
    }
    #part3 .boxes .box3::before{
        left:889px;
        width:45vw;
        height:18vh;
    }
    #part4{
        width:176vw;
        height:63vh;
    }
    #part4 h1{
        margin-top: -77px;
    }
    #part4 p{
        margin: 35px 1px;
    }
    #part4 .citybox .boxt {
        height:11vh;
    }
    #final{
        width:176vw;
        height: 54vh;
    }
    footer {
        width:176vw;
    }

}
@media screen and (min-width: 500px) and (max-width:709px){
    .container{
        width: 234vw; 
    }
    #navbar{
        /* background-color: pink;  */
        width:234vw;
        height: 90vh;
    }
    #navbar::before {
        width:234vw;
        /* background-color: red;  */
    }
    #navbar .part2{
        /* background-color: blue;  */
    }
    #part2{
        width:234vw;
        height:45vh;
    }
    #part2 .boxes .box2{
        width:26vw;
    }
    #part3{
        width:234vw;
    }
    #part3:before{
        width:234vw;
    }
    #part3 .boxes .box1::before{
        left:159px;
        width:57vw;
        height:20vh;
    }
    #part3 .boxes .box2::before{
        left:545px;
        width:57vw;
        height:20vh;
    }
    #part3 .boxes .box3::before{
        left:930px;
        width:57vw;
        height:20vh;
    }
    #part4{
        width:234vw;
        height:63vh;
    }
    #part4 h1{
        margin-top: -77px;
    }
    #part4 p{
        margin: 35px 1px;
    }
    #part4 .citybox .boxt {
        height:11vh;
    }
    #final{
        width:234vw;
        height: 54vh;
    }
    footer {
        width:234vw;
    }
    
}
@media screen and (min-width:300px ) and (max-width:499px){
    .container{
        width: 234vw; 
    }
    #navbar{
        /* background-color: blue;  */
        width:311vw;
        height: 90vh;
    }
    #navbar::before {
        width:311vw;
        /* background-color: red;  */
    }
    #navbar .part2{
        /* background-color: blue;  */
    }
    #part2{
        width:311vw;
        height:45vh;
    }
    #part2 .boxes .box2{
        width:40vw;
    }
    #part3{
        width:311vw;
        height:52vh;
    }
    #part3:before{
        width:311vw;
    }
    #part3 .boxes .box1::before{
        width:66vw;
        height: 21vh;
    }
    #part3 .boxes .box2::before{
        left:488px;
        width:66vw;
        height: 21vh;
    }
    #part3 .boxes .box3::before{
        left:874px;
        width:66vw;
        height: 21vh;
    }
    #part4{
        width:311vw;
        height:66vh;
    }
    #part4 .citybox .boxt img {
        width:10vw;
    }
    #part4 h1{
        margin-top: -77px;
    }
    #part4 p{
        margin: 35px 1px;
    }
    #part4 .citybox .boxt {
        height:11vh;
    }
    #final{
        width:311vw;
        height: 54vh;
    }
    footer {
        width:311vw;
    }
    
}
